{% extends '_course_list.html' %}

{% block title %}List of online Python courses{% endblock title %}

{% block intro %}

    <p>Here you can find a list of materials for self-study courses. Study materials for lectures taught by mentors can be found <a href="{{ url_for('runs') }}">in runs.</a></p>

{% endblock %}


{% block list %}

    {% for course in featured_courses %}
        <div class="section{{ loop.index }}">
            <h4><a href="{{ course.get_url() }}">{{ course.title }}</a></h4>
            <p>{{ course.description }}</p>
        </div>
    {% endfor %}

{% endblock %}
