{% extends "_base_course.html" %}
{% from "_material_macros.html" import material_list with context %}

{% block title %}{{ course.title }}{% endblock title %}

{% block breadcrumbs %}
> {{ course.title }}
{% endblock %}

{% block course_content %}
<div class="row">
    <div class="col-lg-12">
        {% block course_overview %}
              <h1>{{ course.title }}</h1>

{% if course.start_date %}
    <div class="card course-card text-center">
        <div class="card-body">
            <div class="calendar-dates">
                {{ (course.start_date, course.end_date) | format_date_range }}
            </div>
            {% if course.default_time %}
                <div class="default-times">
                    {{ course.default_time['start'] | format_time }}
                    –
                    {{ course.default_time['end'] | format_time }}
                </div>
            {% endif %}
            {% if course.place %}
                <div class="details">{{course.place}}</div>
            {% endif %}
        </div>
    </div>
{% endif %}

{% if course.subtitle != None %}
    <h2>{{ course.subtitle }}</h2>
{% endif%}

{{ course.long_description }}
{% for session in course.sessions.values() %}

<div class="section{{ loop.index }}">
    <h4>
        {% if session.serial != None %}
            Lesson {{ session.serial }} –
        {% endif %}
        <a href="{{ session.get_url() }}">
            {{ session.title }}
        </a>
        {% if session.date %}
            <small>({{ session.date | format_date }})</small>
        {% endif %}
    </h4>
        {%- if session.description %}
            {{ session.description }}
        {% endif %}
    {{ material_list(session.materials) }}
</div>
{%- endfor %}
{% if course.mentors %}
<div id="mentor-team" class="container" >
    <h2>Mentors for this run</h2>
    <div class="mentors ">
    {% for member in course.mentors %}
        <div class="person">
            <div class="member-photo">
                <img src="{{ url_for('static', filename=member.img) }}" class="img-circle" />
            </div>
            <h5 class="member-name"><strong>{{ member.name }}</strong></h5>
            <span><em>{{ member.role }}</em></span>
            <ul>
                {%- for link in member.links -%}{%- for type, url in link.items() -%}
                <li><a href="{{ url }}"><img src="{{ url_for('static', filename='img/links/{}-link.png'.format(type)) }}" /></a></li>
                {%- endfor -%}{%- endfor -%}
            </ul>
        </div>
    {%- endfor %}
    </div>
</div>
{% endif%}
        {% endblock %}
    </div>
</div>
{% endblock %}
