{% extends '_base.html' %} {% block extra_links %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}" />
{% endblock extra_links%} {% block content %}

<section id="news" class="container content-section">
  <div class="container">
    <div class="row">
      <h2 id="news-main-title">Sponsor Us!</h2>
    </div>
    <div class="row">
      <p>
        We will be extremely grateful for any support to continue putting our
        hearts into our core activities and improve and broaden our involvement
        with the community.
      </p>
      <p>
        How can you help our non-profit organization to
        <b>promote, educate and advance</b> a diverse Python community in
        Austria?
      </p>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <img
          height="150"
          src="/static/img/institution-logo.png"
          class="keyfeature-icon"
        />
        <h2 class="about-title">As a company</h2>
        <div class="about-p">
          <p>What are Benefits for Sponsors?</p>
          <ul>
            <li>visibility in our network, website and social media</li>
            <li>reserved spots in our beginners course</li>
            <li>promotion of your open positions within our network</li>
            <li>
              participate in creating a more diverse environment for us all
            </li>
            <li>we are open to discuss other options as well</li>
          </ul>
          <p>We offer several levels of sponsorship packages.</p>
          <p>
            For more information, please check our
            <a
              target="_blank"
              href="{{url_for('static', filename='PyLadies_Vienna_Sponsorship_Proposal_2023_12_10.pdf')}}"
              >PyLadies Vienna Sponsorship Proposal (PDF)</a
            >.
          </p>
          <p>
            If you are interested to Sponsor Us or have any questions please
            feel free to contact us via email on
            <a href="mailto:pyladies.vienna@gmail.com"
              >pyladies.vienna@gmail.com</a
            >!
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <img height="150" src="/static/img/who.png" class="keyfeature-icon" />
        <h2 class="about-title">As Individual</h2>
        <div class="about-p">
          <p>
            Are you an individual who shares our values and wants to support our
            work with a financial help? <b>Amazing!</b>
          </p>
          <p>
            <script
              type="text/javascript"
              src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
              data-name="bmc-button"
              data-slug="pyladiesvienna"
              data-color="#ffffff"
              data-emoji="👩‍💻"
              data-font="Arial"
              data-text="Buy Us a Coffee"
              data-outline-color="#ee274d"
              data-font-color="#ee274d"
              data-coffee-color="#ee274d"
            ></script>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <h2>
        Thank you for any support! Let's make IT more diverse together step by
        step!
      </h2>
    </div>
  </div>
</section>

{% endblock %}
